@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('../fonts/roboto-regular.woff2') format('woff2'),
  url('../fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
  url('../fonts/roboto-light.woff2') format('woff2'),
  url('../fonts/roboto-light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
  url('../fonts/roboto-thin.woff2') format('woff2'),
  url('../fonts/roboto-thin.woff') format('woff');
}

@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
  url('../fonts/robotomono-regular.woff2') format('woff2'),
  url('../fonts/robotomono-regular.woff') format('woff');
}