/*Some colors*/
$black: #000000;
$bordo: #8a0200;
$white: #ffffff;
$gray: #585858;

/* Media queries */
$mobile-widths-only: 'max-width: 767px';
$tablet-widths: 'min-width: 768px';
$desktop-widths: 'min-width: 1024px';
$retina: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';
